.h1 {
  font-size: clamp(2.5rem, 1.4356rem + 3.9604vw, 5rem);
  font-weight: 500;
}

.h2 {
  font-size: clamp(2.5rem, 1.9678rem + 1.9802vw, 3.75rem);
  font-weight: 800;
  line-height: 3.75rem;
}

.align-center {
  text-align: center;
}

.small-text {
  font-size: 1rem;
}

.header {
  max-width: 1440px;
  padding: 2rem 2rem 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.header .top-wrapper {
  background-color: #42497f;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 50%, calc(100% - 30px) 100%, 0 100%);
  transition: clip-path 0.3s ease;
}
.header .top-wrapper.nav-open {
  clip-path: none;
  border-radius: 0.5rem;
}
.header .top-wrapper .left-wrapper {
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 60px;
  flex-grow: 1;
}
.header .top-wrapper .left-wrapper .logo-link {
  height: 100%;
}
.header .top-wrapper .left-wrapper img {
  height: 100%;
  border-radius: 0.5rem;
}
.header .top-wrapper .left-wrapper .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
.header .top-wrapper nav {
  display: flex;
}
.header .top-wrapper nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0.375rem 2rem;
}
.header .top-wrapper nav ul li {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.header .top-wrapper nav ul li a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 1160px) {
  .header .top-wrapper {
    flex-direction: column;
    width: 100%;
  }
  .header .top-wrapper .left-wrapper {
    width: 100%;
  }
  .header .top-wrapper .left-wrapper .hamburger {
    display: block;
    margin-right: 1rem;
  }
  .header .top-wrapper nav {
    width: 100%;
    display: none;
    background-color: #42497f;
  }
  .header .top-wrapper nav.open {
    display: block;
  }
  .header .top-wrapper nav ul {
    flex-direction: column;
    padding: 0;
  }
  .header .top-wrapper nav ul li {
    padding: 1rem;
    text-align: left;
  }
}
@media (max-width: 1160px) {
  .header .button {
    display: none;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem 2rem;
}
.footer .footer-top {
  background-color: #7d4792;
  color: white;
  text-align: center;
  padding: 2.5rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  border-radius: 1.875rem;
}
.footer .footer-top .top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .footer-top .input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .footer-top .input-wrapper input {
  flex-grow: 1;
  padding: 1rem;
  border: rgba(240, 236, 224, 0.6) solid 1px;
  background-color: transparent;
  color: white;
  border-radius: 1.875rem;
}
.footer .footer-top .input-wrapper input::-moz-placeholder {
  color: rgba(240, 236, 224, 0.6);
}
.footer .footer-top .input-wrapper input::placeholder {
  color: rgba(240, 236, 224, 0.6);
}
.footer .footer-bottom {
  background-color: #232323;
  color: #f0ece0;
  opacity: 0.8;
  font-size: 1rem;
  padding: 4.0625rem 2.25rem;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer .footer-bottom a {
  color: inherit;
  text-decoration: none;
}
.footer .footer-bottom .footer-heading {
  font-weight: 500;
  color: #f0ece0;
  opacity: 40%;
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 0.04em;
}
.footer .footer-bottom .top-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 5rem;
}
.footer .footer-bottom .top-wrapper nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.footer .footer-bottom .top-wrapper .col {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.footer .footer-bottom .top-wrapper .contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3rem;
}
.footer .footer-bottom .top-wrapper .contact-info .socials {
  display: flex;
  gap: 1rem;
}
.footer .footer-bottom .top-wrapper .payments {
  display: flex;
  gap: 1.5rem;
}
.footer .footer-bottom .top-wrapper .footer-logo {
  width: 200px;
}
.footer .footer-bottom .bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f0ece0;
  opacity: 40%;
}
.footer .footer-bottom .bottom-wrapper .links {
  display: flex;
  gap: 2rem;
}
@media (max-width: 768px) {
  .footer .footer-bottom .bottom-wrapper {
    flex-direction: column-reverse;
  }
}

.button {
  cursor: pointer;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  padding: 1.0625rem 2.0625rem;
  border-radius: 50vw;
  border: solid black 1px;
  gap: 10px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.button:hover img {
  transform: translateX(2px);
  transition: transform 0.2s ease;
}

.button.primary {
  background-color: #00c336;
  color: white;
}

.button.primary:hover {
  background-color: green;
}

.button.secondary {
  border-color: #00c336;
  color: white;
}

.button.secondary:hover {
  background-color: #00c336;
  color: white;
}

.small-gap {
  gap: 1rem;
}

.medium-gap {
  gap: 2.5rem;
}

.large-gap {
  gap: 5rem;
}

.small-width {
  max-width: 550px;
}

.medium-width {
  max-width: 700px;
}

.large-width {
  max-width: 900px;
}

.why-tumbles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
  width: 100%;
}

.why-tumbles-cards .card {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #232323;
  border-radius: 1.875rem;
  padding: 1rem;
  text-align: center;
}
.why-tumbles-cards .card img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  height: auto;
}
.why-tumbles-cards .card p {
  padding-top: 0.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.3125rem;
}

@media (max-width: 600px) {
  .why-tumbles-cards {
    padding-block: 2rem;
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 2.5rem;
  }
  .why-tumbles-cards .card {
    max-width: 50svw;
    flex: 0 0 auto;
    scroll-snap-align: center;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}
.class-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
  border-radius: 1.875rem;
  border: 2px solid #232323;
  height: 100%;
}
.class-card .class-text {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.class-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
}
.class-card .right-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1200px) {
  .class-card {
    grid-auto-flow: dense;
  }
  .class-card .right-image {
    order: -1;
    aspect-ratio: 19/10;
    height: auto;
  }
}
.parties {
  background-image: url("/assets/home/parties.webp");
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 1.875rem;
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cta-section .container {
  color: white;
  display: flex;
  position: relative;
  border-radius: 1.875rem;
  gap: 5rem;
  padding: 2.5rem;
}
.cta-section .container .background-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
}
.cta-section .container .top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cta-section .container .smiley-image {
  transform: rotate(30deg);
  width: 180px;
}
.cta-section .container .cta-text {
  background-color: #ff7124;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1.875rem;
}
.cta-section .container .cta-text p {
  font-size: 2rem;
}
.cta-section .container .smiley-image2 {
  transform: rotate(30deg);
  display: none;
}

@media (max-width: 900px) {
  .cta-section {
    overflow: visible;
  }
  .cta-section .container {
    height: 60svh;
    overflow: visible;
  }
  .cta-section .smiley-image {
    display: none;
  }
  .cta-section .cta-text {
    position: absolute;
    bottom: 0;
    left: 50%;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 70%;
    margin-top: 2.5rem;
    transform: translate(-50%, 30%);
    padding: 2.5rem !important;
  }
  .cta-section .cta-text .smiley-image2 {
    display: block;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
  .cta-section .smiley-image {
    width: 150px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: #232323;
  font-size: 1.25rem;
  margin: 0;
  background-color: #f0ece0;
}

section {
  padding: 4rem 2rem;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.radius {
  border-radius: 1.875rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}

.gray-text {
  color: #f0ece0;
}