.h1 {
  font-size: clamp(2.5rem, 1.4356rem + 3.9604vw, 5rem);
  font-weight: 500;
}

.h2 {
  font-size: clamp(2.5rem, 1.9678rem + 1.9802vw, 3.75rem);
  font-weight: 800;
  line-height: 3.75rem;
}

.align-center {
  text-align: center;
}

.small-text {
  font-size: 1rem;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2.25rem;
}
.header .left-wrapper {
  background-color: #42497f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 50%, calc(100% - 30px) 100%, 0 100%);
}
.header .left-wrapper .logo-link {
  height: 100%;
}
.header .left-wrapper img {
  height: 100%;
}
.header .left-wrapper .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
.header .left-wrapper nav {
  display: flex;
}
.header .left-wrapper nav ul {
  display: flex;
  list-style: none;
  padding: 0.375rem 2rem 0.375rem 0.375rem;
  margin: 0;
}
.header .left-wrapper nav ul li {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.header .left-wrapper nav ul li a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 900px) {
  .header .left-wrapper {
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    clip-path: none;
    padding: 1rem;
    width: 100%;
  }
  .header .left-wrapper .hamburger {
    display: block;
  }
  .header .left-wrapper nav {
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: #42497f;
    margin-top: 0.5rem;
  }
  .header .left-wrapper nav.open {
    display: flex;
  }
  .header .left-wrapper nav ul {
    flex-direction: column;
    padding: 0;
  }
  .header .left-wrapper nav ul li {
    padding: 1rem;
  }
}
@media (max-width: 900px) {
  .header btn-arrow {
    display: none;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer .footer-top {
  background-color: #7d4792;
  color: white;
  text-align: center;
  padding: 4.0625rem 2.25rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  border-radius: 1.875rem;
}
.footer .footer-top .top-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer .footer-top .input-wrapper {
  display: flex;
}
.footer .footer-top .input-wrapper input {
  flex-grow: 1;
  padding: 1rem;
  border: rgba(240, 236, 224, 0.6) solid 1px;
  background-color: transparent;
  color: white;
  border-radius: 1.875rem;
}
.footer .footer-top .input-wrapper input::-moz-placeholder {
  color: rgba(240, 236, 224, 0.6);
}
.footer .footer-top .input-wrapper input::placeholder {
  color: rgba(240, 236, 224, 0.6);
}
.footer .footer-bottom {
  background-color: #232323;
  color: #f0ece0;
  opacity: 0.8;
  font-size: 1rem;
  padding: 4.0625rem 2.25rem;
  margin: 0 2rem 2rem 2rem;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer .footer-bottom a {
  color: inherit;
  text-decoration: none;
}
.footer .footer-bottom .footer-heading {
  font-weight: 500;
  color: #f0ece0;
  opacity: 40%;
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 4%;
}
.footer .footer-bottom .top-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 5rem;
}
.footer .footer-bottom .top-wrapper nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.footer .footer-bottom .top-wrapper .col {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.footer .footer-bottom .top-wrapper .contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3rem;
}
.footer .footer-bottom .top-wrapper .contact-info .socials {
  display: flex;
  gap: 1rem;
}
.footer .footer-bottom .top-wrapper .payments {
  display: flex;
  gap: 1.5rem;
}
.footer .footer-bottom .top-wrapper .footer-logo {
  width: 200px;
}
.footer .footer-bottom .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f0ece0;
  opacity: 40%;
}
.footer .footer-bottom .bottom-wrapper .links {
  display: flex;
  gap: 2rem;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  padding: 1.0625rem 2.0625rem;
  border-radius: 50vw;
  border: solid black 1px;
  gap: 10px;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.button:hover img {
  transform: translateX(2px);
  transition: transform 0.2s ease;
}

.button.primary {
  background-color: #00c336;
  color: white;
}

.button.primary:hover {
  background-color: green;
}

.button.secondary {
  border-color: #00c336;
  color: white;
}

.button.secondary:hover {
  background-color: #00c336;
  color: white;
}

.small-gap {
  gap: 1rem;
}

.medium-gap {
  gap: 2.5rem;
}

.large-gap {
  gap: 5rem;
}

.small-width {
  max-width: 550px;
}

.medium-width {
  max-width: 700px;
}

.large-width {
  max-width: 900px;
}

.marquee-wrapper {
  overflow: hidden;
  display: flex;
  width: 100%;
  background-color: transparent;
  gap: 2.25rem;
  pointer-events: none;
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
  gap: 2.25rem;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.why-tumbles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
}

.why-tumbles-cards .card {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #232323;
  border-radius: 1.875rem;
  padding: 1rem;
  text-align: center;
}
.why-tumbles-cards .card img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  height: auto;
}
.why-tumbles-cards .card p {
  padding-top: 0.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.3125rem;
}

@media (max-width: 600px) {
  .why-tumbles-cards {
    padding-block: 2rem;
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 2.5rem;
  }
  .why-tumbles-cards .card {
    max-width: 50svw;
    flex: 0 0 auto;
    scroll-snap-align: center;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}
.class-card {
  display: flex;
  gap: 2.5rem;
  border-radius: 1.875rem;
  border: 2px solid #232323;
  height: 100%;
}
.class-card .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  padding: 2rem;
}
.class-card .right-image {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .class-card {
    grid-auto-flow: dense;
  }
  .class-card .right-image {
    order: -1;
    aspect-ratio: 19/10;
    height: auto;
  }
}
.parties {
  background-image: url("/assets/home/parties.webp");
  background-size: cover;
  background-position: center;
  color: white;
  border-radius: 1.875rem;
  padding: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.cta-section .container {
  color: white;
  position: relative;
  border-radius: 1.875rem;
  overflow: hidden;
  display: flex;
  gap: 5rem;
  padding: 2.5rem;
}
.cta-section .container .background-image {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
}
.cta-section .container .smiley-image {
  transform: rotate(30deg);
  width: 180px;
}
.cta-section .container .cta-text {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1.875rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: #f0ece0;
}

section {
  padding: 5rem 0;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.radius {
  border-radius: 1.875rem;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2.5rem;
}

.gray-text {
  color: #f0ece0;
}