.h1 {
  font-size: clamp(2.5rem, 0.2128rem + 8.5106vw, 5rem);
  font-weight: 500;
}

.h2 {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 3.75rem;
}

.align-center {
  text-align: center;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2.25rem;
}
.header .left-wrapper {
  background-color: #42497f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 60px;
  position: relative;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 50%, calc(100% - 30px) 100%, 0 100%);
}
.header .left-wrapper .logo-link {
  height: 100%;
}
.header .left-wrapper img {
  height: 100%;
}
.header .left-wrapper .hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  margin-left: auto;
  cursor: pointer;
}
.header .left-wrapper nav {
  display: flex;
}
.header .left-wrapper nav ul {
  display: flex;
  list-style: none;
  padding: 0.375rem 2rem 0.375rem 0.375rem;
  margin: 0;
}
.header .left-wrapper nav ul li {
  padding: 0 1rem;
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.header .left-wrapper nav ul li:not(:first-child) {
  border-left: 1px solid white;
}
.header .left-wrapper nav ul li a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 900px) {
  .header .left-wrapper {
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    clip-path: none;
    padding: 1rem;
    width: 100%;
  }
  .header .left-wrapper .hamburger {
    display: block;
  }
  .header .left-wrapper nav {
    width: 100%;
    display: none;
    flex-direction: column;
    background-color: #42497f;
    margin-top: 0.5rem;
  }
  .header .left-wrapper nav.open {
    display: flex;
  }
  .header .left-wrapper nav ul {
    flex-direction: column;
    padding: 0;
  }
  .header .left-wrapper nav ul li {
    border-left: none;
    border-top: 1px solid white;
    padding: 1rem;
  }
  .header .left-wrapper nav ul li:first-child {
    border-top: none;
  }
}
@media (max-width: 900px) {
  .header btn-arrow {
    display: none;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
}
.footer .footer-wrapper {
  background-color: #232323;
  color: #f0ece0;
  opacity: 0.8;
  font-size: 1rem;
  padding: 4.0625rem 2.25rem;
  margin: 2rem;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.footer .footer-wrapper a {
  color: inherit;
  text-decoration: none;
}
.footer .footer-wrapper .footer-heading {
  font-weight: 500;
  color: #f0ece0;
  opacity: 40%;
  text-transform: uppercase;
  line-height: 140%;
  letter-spacing: 4%;
}
.footer .footer-wrapper .top-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 5rem;
}
.footer .footer-wrapper .top-wrapper nav ul {
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.footer .footer-wrapper .top-wrapper .col {
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.footer .footer-wrapper .top-wrapper .contact-info {
  display: flex;
  gap: 3rem;
}
.footer .footer-wrapper .top-wrapper .contact-info .socials {
  display: flex;
  gap: 1rem;
}
.footer .footer-wrapper .top-wrapper .payments {
  display: flex;
  gap: 1.5rem;
}
.footer .footer-wrapper .top-wrapper .footer-logo {
  width: 200px;
}
.footer .footer-wrapper .bottom-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
  font-weight: 400;
  color: #f0ece0;
  opacity: 40%;
}
.footer .footer-wrapper .bottom-wrapper .links {
  display: flex;
  gap: 2rem;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  padding: 1.0625rem 2.0625rem;
  border-radius: 50vw;
  border: solid black 1px;
  gap: 10px;
}

.button.primary {
  background-color: #00c336;
  color: white;
}

.button.secondary {
  border-color: #00c336;
  color: white;
}

.small-gap {
  gap: 1rem;
}

.medium-gap {
  gap: 2.5rem;
}

.large-gap {
  gap: 3rem;
}

.marquee-wrapper {
  overflow: hidden;
  display: flex;
  width: 100%;
  background-color: transparent;
  gap: 2.25rem;
}

.marquee {
  display: flex;
  animation: scroll 20s linear infinite;
  gap: 2.25rem;
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
.why-tumbles-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2.5rem;
}

.why-tumbles-cards .card {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #232323;
  border-radius: 1.875rem;
  padding: 1rem;
  text-align: center;
}
.why-tumbles-cards .card img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 100%;
  height: auto;
}
.why-tumbles-cards .card p {
  padding-top: 0.5rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.3125rem;
}

@media (max-width: 600px) {
  .why-tumbles-cards {
    padding-block: 2rem;
    display: flex !important;
    flex-direction: row !important;
    overflow-x: auto;
    overflow-y: visible;
    scroll-snap-type: x mandatory;
    gap: 2.5rem;
  }
  .why-tumbles-cards .card {
    max-width: 50svw;
    flex: 0 0 auto;
    scroll-snap-align: center;
    display: flex !important;
    flex-direction: column !important;
    align-items: center;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: #f0ece0;
}

section {
  padding: 5rem 0;
  overflow: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.radius {
  border-radius: 1.875rem;
}