@use "variables" as *;

$header-radius: 0.5rem;

.header {
  max-width: $site-width;
  padding: 2rem $global-padding 0 $global-padding;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;

  .top-wrapper {
    background-color: #42497f;
    display: flex;
    align-items: center;
    border-radius: $header-radius;
    overflow: visible;
    clip-path: polygon(
      0 0,
      calc(100% - 30px) 0,
      100% 50%,
      calc(100% - 30px) 100%,
      0 100%
    );
    transition: clip-path 0.3s ease;
    position: relative;

    &.nav-open {
      border-radius: $header-radius;
    }

    .left-wrapper {
      display: flex;
      align-items: center;
      flex-grow: 1;
      height: 60px;

      .logo-link {
        height: 100%;
      }

      img {
        height: 100%;
        border-radius: $header-radius;
      }

      .hamburger {
        width: 30px;
        height: 20px;
        margin-right: 2rem;
        margin-left: auto;
        position: relative;
        background: none;
        border: none;
        cursor: pointer;
        display: none;
        transform: translateY(-20%);

        span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background: white;
          border-radius: 4px;
          opacity: 1;
          left: 0;
          transition: 0.25s ease-in-out;
        }

        span:nth-child(1) {
          top: 0px;
        }

        span:nth-child(2),
        span:nth-child(3) {
          top: 13px;
        }

        span:nth-child(4) {
          top: 26px;
        }

        &.open span:nth-child(1),
        &.open span:nth-child(4) {
          top: 13px;
          width: 0%;
          left: 50%;
        }

        &.open span:nth-child(2) {
          transform: rotate(45deg);
        }

        &.open span:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }

    nav {
      display: flex;

      ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0.375rem 2rem;

        li {
          padding: 0 1rem;
          font-weight: 600;
          font-size: 1rem;
          color: white;

          a {
            color: inherit;
            text-decoration: none;
            transition: opacity 0.3s ease;
          }

          a:hover {
            opacity: 0.7;
          }
        }
      }
    }

    @media (max-width: 1160px) {
      flex-direction: column;
      width: 100%;
      position: relative;
      clip-path: none;
      background-color: transparent;
      .left-wrapper {
        width: 100%;
        background-color: #42497f;
        border-radius: $header-radius;
        clip-path: polygon(
          0 0,
          calc(100% - 30px) 0,
          100% 50%,
          calc(100% - 30px) 100%,
          0 100%
        );

        .hamburger {
          display: block;
        }
      }

      nav {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        display: none;
        background-color: #42497f;
        border-radius: $header-radius;
        z-index: 1000;

        &.open {
          display: block;
        }

        ul {
          flex-direction: column;
          padding: 0;

          li {
            padding: 1rem;
            text-align: left;
          }
        }
      }
    }
  }

  @media (max-width: 1160px) {
    .button {
      display: none;
    }
  }
}
