@use "variables";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2.25rem;
  .left-wrapper {
    background-color: #42497f;
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    clip-path: polygon(
      0 0,
      calc(100% - 30px) 0,
      100% 50%,
      calc(100% - 30px) 100%,
      0 100%
    );
    .logo-link {
      height: 100%;
    }
    img {
      height: 100%;
    }

    nav ul {
      display: flex;
      list-style: none;
      padding: 0.375rem 2rem 0.375rem 0.375rem;
      margin: 0;

      li {
        padding: 0 1rem;
        font-weight: 600;
        font-size: 1rem;
        color: white;

        &:not(:first-child) {
          border-left: 1px solid white;
        }

        a {
          color: inherit;
          text-decoration: none;
        }
      }
    }
  }
}
