@use "variables" as *;

.small-gap {
  gap: $small-space;
}

.medium-gap {
  gap: $medium-space;
}

.large-gap {
  gap: $large-space;
}

.small-width {
  max-width: $small-width;
}

.medium-width {
  max-width: $medium-width;
}

.large-width {
  max-width: $large-width;
}
