$primary-color: #00c336;
$secondary-color: #d946ef;
$text-color: #232323;
$bg-color: #f0ece0;

$font-size-base: 16px;
$spacing-unit: 1rem;

$site-width: 1440px;
$global-padding: 2rem;

$small-space: 1rem;
$medium-space: 2.5rem;
$large-space: 5rem;

$radius: 1.875rem;

$text-small: 0.875rem;
$text-medium: 1rem;
$text-large: 1.25rem;

$section-padding: 5rem;

$small-width: 550px;
$medium-width: 700px;
$large-width: 900px;
