@use "variables" as *;
@use "typography";
@use "header";
@use "footer";
@use "buttons";
@use "spacing";
@use "marquee";
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: $bg-color;
}

section {
  padding: $section-padding 0;
  &.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.container {
  max-width: $site-width;
  padding: 0 $global-padding;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $medium-space;
}

.radius {
  border-radius: $radius;
}
