@use "variables" as *;
@use "typography";
@use "header";
@use "footer";
@use "buttons";
@use "spacing";
@use "marquee";
@use "pages/home";

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  margin: 0;
  background-color: $bg-color;
}

section {
  padding: $section-padding 0;
  overflow: hidden;
}
.container {
  max-width: $site-width;
  padding: 0 $global-padding;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: $medium-space;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.radius {
  border-radius: $radius;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: $medium-space;
}
.gray-text {
  color: #f0ece0;
}
