<template id="footer-template">
  <footer class="footer">
    <div class="footer-top">
      <div class="top-wrapper">
        <p class="h2">Stay Up To Date</p>
        <p class="gray-text small-text">
          Sign up for updates about Tumbles classes, parties, camps, deals and
          more.
        </p>
      </div>
      <div class="input-wrapper">
        <input
          id="newsletter-input"
          type="email"
          placeholder="Your email"
          class="footer-input"
        />
        <btn-arrow class="primary" href="/">Send</btn-arrow>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="top-wrapper">
        <div class="col">
          <p class="footer-heading">Address</p>
          <p>
            Tumbles Princeton<br />
            1225 State Road 206, Suite 14,<br />
            Princeton, New Jersey, 08540
          </p>
          <p class="footer-heading">Payments safely verified by:</p>
          <div class="payments">
            <img src="/assets/footer/stripe-logo.svg" alt="Stripe logo" />
            <img
              src="/assets/footer/mastercard-logo.svg"
              alt="Mastercard logo"
            />
            <img src="/assets/footer/visa-logo.svg" alt="Visa logo" />
          </div>
        </div>
        <div class="col">
          <p class="footer-heading">Pages</p>
          <nav>
            <ul>
              <li><a href="/">Schedules</a></li>
              <li><a href="/about">Gym Classes</a></li>
              <li><a href="/contact">STEAM Classes</a></li>
              <li><a href="/faq">Camps</a></li>
              <li><a href="/blog">Parties</a></li>
              <li><a href="/blog">Tumble Zone</a></li>
              <li><a href="/blog">Membership</a></li>
            </ul>
          </nav>
          <img
            class="footer-logo"
            src="/assets/footer/tumbles-footer.svg"
            alt="Footer logo"
          />
          <div class="contact-info">
            <div>
              <a href="tel:6094475437">609-447-5437</a><br />
              <a href="mailto:princeton@tumbles.net">princeton@tumbles.net</a>
            </div>
            <div class="socials">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/assets/footer/facebook-logo.svg"
                  alt="Facebook logo"
                />
              </a>
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src="/assets/footer/instagram-logo.svg"
                  alt="Instagram logo"
                />
              </a>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <img src="/assets/footer/youtube-logo.svg" alt="YouTube logo" />
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="footer-heading">Want a franchise?</p>
          <p>
            Get started now by requesting<br />
            more information. We're here to<br />
            help every step of the way - let's<br />
            start your journey today!
          </p>
          <btn-arrow class="secondary" href="/contact">Get more info</btn-arrow>
        </div>
      </div>
      <div class="bottom-wrapper">
        <div>
          © Copyright 2025 - Tumbles Independently owned and operated by Nathan
          Lucas, LLC
        </div>
        <div class="links">
          <a href="/">Terms & Conditions</a>
          <a href="/">Privacy policy</a>
        </div>
      </div>
    </div>
  </footer>
</template>
