<template id="header-template">
  <header class="header">
    <div class="left-wrapper">
      <a href="/" class="logo-link">
        <img src="/assets/header/header_logo.svg" alt="Header logo" />
      </a>
      <button class="hamburger" aria-label="Toggle menu">&#9776;</button>

      <nav>
        <ul>
          <li><a href="/">Schedules</a></li>
          <li><a href="/">Gym Classes</a></li>
          <li><a href="/">STEAM Classes</a></li>
          <li><a href="/">Camps</a></li>
          <li><a href="/">Parties</a></li>
        </ul>
      </nav>
    </div>

    <btn-arrow class="primary" href="/contact">Need help?</btn-arrow>
  </header>
</template>
