<template id="home-template">
  <section class="section centered">
    <div class="container">
      <h1 class="h1">Get Your Kids Moving & Thinking At Tumbles Princeton</h1>
      <div class="hero-icons">
        <img src="/assets/home/hero image 1.svg" alt="Brain Icon" />
        <img src="/assets/home/hero image 2.svg" alt="Heart Icon" />
        <img src="/assets/home/hero image 3.svg" alt="Hand Icon" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Facilisis bibendum. Lorem ipsum
        dolor sit amet consectetur.!
      </p>
      <btn-arrow class="primary" href="/signup">Try a Class</btn-arrow>
    </div>
  </section>

  <section class="video-section">
    <div class="container">
      <video-lightbox
        thumbnail="/assets/home/video-thumbnail.webp"
        video="https://www.youtube.com/embed/PfXJqaH6POs"
      ></video-lightbox>
    </div>
  </section>
</template>
