<template id="home-template">
  <section class="section centered">
    <div class="container centered">
      <h1 class="h1 large-width">
        Get Your Kids Moving & Thinking At Tumbles Princeton
      </h1>
      <div class="hero-icons">
        <img src="/assets/home/smiley1.svg" alt="Brain Icon" />
        <img src="/assets/home/smiley2.svg" alt="Heart Icon" />
        <img src="/assets/home/smiley3.svg" alt="Hand Icon" />
      </div>
      <p class="small-width">
        Lorem ipsum dolor sit amet consectetur. Facilisis bibendum. Lorem ipsum
        dolor sit amet consectetur.
      </p>
      <btn-arrow class="primary" href="/">Try a Class</btn-arrow>
    </div>
        <div class="container">
      <video-lightbox
        thumbnail="/assets/home/video-thumbnail.webp"
        video="https://www.youtube.com/embed/PfXJqaH6POs"
      ></video-lightbox>
    </div>
  </section>
    <section class="marquee-section centered medium-gap">
    <div class="container">
      <h2 class="h2 align-center medium-width">
        The Learning Playground For Ages 4 Months to 12 Years
      </h2>
    </div>
    <img-marquee></img-marquee>
    <div class="container">
      <p class="small-width">
        Non-competitive programs that support physical and emotional growth with
        fun, milestone-based activities in a safe and supportive space.
      </p>
      <btn-arrow class="primary" href="/">Try a Class</btn-arrow>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="h2 centered">Our Programs</h2>
      <div class="grid-2">
        <class-card
          title="Gym Classes"
          text="Non-competitive programs that support physical and emotional growth with fun, milestone-based activities in a safe and supportive space."
          link="/"
          link-text="Explore our Classes"
          image="/assets/home/gym-classes.webp"
        ></class-card>
        <class-card
          title="Camps"
          text="Keep your little one on their toes with our fun-filled kids' gym classes."
          link="/"
          link-text="Explore our Classes"
          image="/assets/home/camps.webp"
        ></class-card>
      </div>
      <div class="parties centered">
        <h3 class="h3">Parties</h3>
        <p class="small-width">
          Have a blast celebrating important milestones and let us take care of
          the rest.
        </p>
        <btn-arrow class="primary" href="/">See our camps</btn-arrow>
      </div>
      <div class="grid-2">
        <class-card
          title="STEAM Classes"
          text="A full-body experiential program that inspires an early interest in Science, Technology, Engineering, Art, and Math - Not your typical STEAM class!"
          link="/"
          link-text="Ready to get started"
          image="/assets/home/steam-classes.webp"
        ></class-card>
        <class-card
          title="Tumble Zone"
          text="Let your child burn off energy at our indoor climbing and play structure."
          link="/"
          link-text="See our camps"
          image="/assets/home/tumble-zone.webp"
        ></class-card>
      </div>
    </div>
  </section>
  <section>
    <div class="container centered">
      <h2 class="h2 align-center">
        Why<br />
        Tumbles Princeton
      </h2>
      <div class="why-tumbles-cards">
        <div class="card">
          <img src="/assets/home/smiley1.svg" class="why-tumbles-card-image" />
          <p>Proven curriculum based on developmental milestones</p>
        </div>
        <div class="card">
          <img src="/assets/home/smiley2.svg" class="why-tumbles-card-image" />
          <p>6:1 student-to-instructor ratio</p>
        </div>

        <div class="card">
          <img src="/assets/home/smiley5.svg" class="why-tumbles-card-image" />
          <p>
            Variety of programs for ages 4 months to 12 years that grow with
            your child and family
          </p>
        </div>

        <div class="card">
          <img src="/assets/home/smiley4.svg" class="why-tumbles-card-image" />
          <p>Fun, supportive, and impeccably clean environment</p>
        </div>
      </div>
      <btn-arrow class="primary" href="/">Try a Class</btn-arrow>
    </div>
  </section>
  <cta-section></cta-section>
  <section class="testimonial-section">
    <div class="container centered">
      <h2 class="h2">What parents & kids are saying<br />about Tumbles</h2>
    
    <testimonial-slider data='[
  {
    "name": "Emily",
    "text": "Tumbles is incredible! For months I have been dreaming of a clean, safe, indoor, space for my energetic toddler to burn off some energy  and Tumbles is the dream come true! The staff was so friendly,  helpful, and engaging.  We love Tumbles and will be coming here for years to come!",
    "image": "/assets/testimonials/emily.webp"
},
  {
    "name": "John",
    "text": "Amazing place for my kids! Staff is always helpful and the activities are engaging.",
    "image": "/assets/testimonials/john.webp"
  }
]'/>
</div>

</template>
