<template id="home-template">
  <section class="section centered">
    <div class="container">
      <h1 class="h1">Get Your Kids Moving & Thinking At Tumbles Princeton</h1>
      <div class="hero-icons">
        <img src="/assets/home/smiley1.svg" alt="Brain Icon" />
        <img src="/assets/home/smiley2.svg" alt="Heart Icon" />
        <img src="/assets/home/smiley3.svg" alt="Hand Icon" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur. Facilisis bibendum. Lorem ipsum
        dolor sit amet consectetur.!
      </p>
      <btn-arrow class="primary" href="/signup">Try a Class</btn-arrow>
    </div>
  </section>
  <section class="video-section">
    <div class="container">
      <video-lightbox
        thumbnail="/assets/home/video-thumbnail.webp"
        video="https://www.youtube.com/embed/PfXJqaH6POs"
      ></video-lightbox>
    </div>
  </section>
  <section class="marquee-section centered medium-gap">
    <div class="container">
      <h2 class="h2 align-center">
        The Learning Playground For Ages 4 Months to 12 Years
      </h2>
    </div>
    <div class="marquee-wrapper">
      <div class="marquee">
        <img src="/assets/home/marquee1.svg" alt="marquee image" />
        <img src="/assets/home/marquee2.svg" alt="marquee image" />
        <img src="/assets/home/marquee3.svg" alt="marquee image" />
        <img src="/assets/home/marquee4.svg" alt="marquee image" />
        <img src="/assets/home/marquee5.svg" alt="marquee image" />
        <img src="/assets/home/marquee6.svg" alt="marquee image" />
        <img src="/assets/home/marquee7.svg" alt="marquee image" />
      </div>
      <div class="marquee">
        <img src="/assets/home/marquee1.svg" alt="marquee image" />
        <img src="/assets/home/marquee2.svg" alt="marquee image" />
        <img src="/assets/home/marquee3.svg" alt="marquee image" />
        <img src="/assets/home/marquee4.svg" alt="marquee image" />
        <img src="/assets/home/marquee5.svg" alt="marquee image" />
        <img src="/assets/home/marquee6.svg" alt="marquee image" />
        <img src="/assets/home/marquee7.svg" alt="marquee image" />
      </div>
    </div>
    <div class="container">
      <p>
        Non-competitive programs that support physical and emotional growth with
        fun, milestone-based activities in a safe and supportive space.
      </p>
      <btn-arrow class="primary" href="/signup">Try a Class</btn-arrow>
    </div>
  </section>
  <section>
    <div class="container">
      <h2 class="h2 align-center">
        Why<br />
        Tumbles Princeton
      </h2>
      <div class="why-tumbles-cards">
        <div class="card">
          <img src="/assets/home/smiley1.svg" class="why-tumbles-card-image" />
          <p>Proven curriculum based on developmental milestones</p>
        </div>
        <div class="card">
          <img src="/assets/home/smiley2.svg" class="why-tumbles-card-image" />
          <p>6:1 student-to-instructor ratio</p>
        </div>

        <div class="card">
          <img src="/assets/home/smiley5.svg" class="why-tumbles-card-image" />
          <p>
            Variety of programs for ages 4 months to 12 years that grow with
            your child and family
          </p>
        </div>

        <div class="card">
          <img src="/assets/home/smiley4.svg" class="why-tumbles-card-image" />
          <p>Fun, supportive, and impeccably clean environment</p>
        </div>
      </div>
      <btn-arrow class="primary" href="/signup">Try a Class</btn-arrow>
    </div>
  </section>
</template>
